html, body {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}
body {
    background-color: darkslategray;
}
h1, h2 {
    font-family: 'Neuton', serif;
    text-align: center;
    color: white;
}
h1{ 
    font-size: 600%;
    margin-top: 30px;
    margin-bottom: 40px;
}
h2{ 
    font-size: 300%;
    width: 70%;
    margin: auto;
}
h3 span {
    margin: 0;
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 5px 20px;
}
.intro {
    text-align: center;
}
.battleTitle {
    margin-top: 120px;
    font-size: 230%;
}
.startover {
    cursor: pointer;
    transition: .3s all;
    font-family: Arial, Helvetica, sans-serif;
}
.startover:hover {
    color: red;
    background-color: lightgray;
    border-color: red;
}
form {
    margin-bottom: 0;
}
select {
    font-size: 120%;
    padding: 3px 20px;
    border-radius: 10px;
    width: 275px;
    margin: 20px;
}
.formwrapper {
    text-align: center;
}
.testphoto {
    border: 5px solid red;
    width: 640px;
}
.intro-image {
    height: 400px;
    padding: 20px;
}
.differences {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 200px;
    text-align: center;
}
.loading {
    background-image: url('/images/icons/loading.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.loading-message {
    display: none;
}
.loading .loading-message {
    display: inline;
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    top: 70px;
}

.hide {
    display: none;
}
