html, body {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}
body {
    background-color: darkslategray;
}
h1, h2 {
    font-family: 'Neuton', serif;
    text-align: center;
    color: white;
}
h1{ 
    font-size: 600%;
    margin-top: 30px;
    margin-bottom: 40px;
}
h2{ 
    font-size: 300%;
    width: 70%;
    margin: auto;
}
h3 span {
    margin: 0;
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 5px 20px;
}
.intro {
    text-align: center;
}
.battleTitle {
    margin-top: 120px;
    font-size: 230%;
}

form {
    margin-bottom: 0;
}
select {
    font-size: 120%;
    padding: 3px 20px;
    border-radius: 10px;
    width: 275px;
    margin: 20px;
}
.formwrapper {
    text-align: center;
}
.testphoto {
    border: 5px solid red;
    width: 640px;
}
.intro-image {
    height: 400px;
    padding: 20px;
}
.differences {
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 200px;
    text-align: center;
}
.loading {
    background-image: url('/images/icons/loading.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.loading-message {
    display: none;
}
.loading .difference-headline {
    display: none;
}
.difference-headline {
    text-align: left;
    font-size: 30px;
}
.loading .loading-message, .loading .error-message {
    display: inline;
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    top: 70px;
}
.differences-table table {
    background-color: lightgray;
    color: black;
    width: 100%;
    border: 7px black;
    border-style: ridge;
    margin-bottom: 50px;
}
.differences-table tr {

}
.differences-table th {
    padding: 10px;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.differences-table th.trait-headline {
    text-align: center;
    font-size: 22px;
    padding-top: 30px;
    border-bottom: 1px solid black;
}
.differences-table td {
    padding: 15px;
    border: 1px solid black;
    width: 50%;
    vertical-align: top;
}
.differences-table td.left {
    border-left: none;
}
.differences-table td.right {
    border-right: none;
}
.differences-table th.table-bird-name {
    border-bottom: 1px solid black;
}
.differences-table th.table-bird-name.left {
    text-align: left;
    border-right: 1px solid black;
}
.differences-table th.table-bird-name.right {
    text-align: right;
    border-left: 1px solid black;
}
.quiz-button {
    text-align: center;
}
.quiz-button span {
    cursor: pointer;
    transition: .3s all;
    font-family: Arial, Helvetica, sans-serif;
}
.quiz-button span:hover {
    color: red;
    background-color: lightgray;
    border-color: red;
}

.modal-wrapper {
    background-color: black;
    position: fixed;
    width: 96vw;
    height: 96vh;
    top: 2vh;
    left: 2vw;
    z-index: 10;
}


.modal-close {
    color: darkgray;
    font-size: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.modal-close:hover {
    color: white;
    cursor: pointer;
}
.quiz-intro-text {
    text-align: center;
}

.quiz-image-wrapper {
    width: 45%;
    padding-left: 5%;
    position: relative;
}
.quiz-image-wrapper img {
    width: 100%;
}

.quiz-button-wrapper {
    width: 50%;
    background-color: orange;
    margin-left: 55%;
}



.hide {
    display: none;
}
